<div class="flex wrap modifiers">
    <div class="item-list border">
        <div class="flex header">
          <b class="name">Characteristic Modifiers</b>
          <a class="button add-modifier" title="Add Characteristic Modifier" data-type="characteristic"><i class="fas fa-plus"></i></a>
        </div>
        <div class="items">
          <div class="modifier-group flex row" data-modifier-type="characteristic">
            <!-- Handlebars template to dynamically list characteristic modifiers -->
            {{log this}}
            {{#each system.modifiers.characteristic as |charMod|}}
              <div class="modifier flex row" data-modifier-key="{{charMod}}">
                <div class="flex name">{{charMod.name}}</div>
                <div class="value">{{charMod.value}}</div>
                <div class="button">
                  <a class="item-control item-delete" title="Delete Modifier"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
</div>