<form class="item-form colony-upgrade-item" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "TOOL.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.EFFECT"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="stats border" style="height: 100%;">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat prerequisites">
                        <label>{{localize "EVENT.THEMES"}}</label>
                        <input name="system.themes" type="text" value="{{system.themes}}" />
                    </div>
                </div>
                <div class="stats-row" style="width: 100%; height: 75%;">
                    <div class="stat flex column item-align-center border" style="flex: 1;">
                        <h1>{{localize "EVENT.DESCRIPTION"}}</h1>
                        <div style="height: 100%; width: 100%;">
                            {{editor item.descriptionHTML target="system.description" engine="prosemirror" button=true editable=true}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.EFFECT"}}</h1>
                <div style="height: 100%; width: 100%">
                    {{editor item.effectHTML target="system.effect" engine="prosemirror" button=true editable=true}}
                </div>
            </div>
        </div>
    </div>

</form>